{
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "es6": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "quotes": [2, "single"],
    "react/jsx-filename-extension": "off"
  }
}
